<div *ngIf="!error; else errorPage" appIsVisible [watchedElementIds]="items">
  <page-header [title]="title" [caption]="caption" [description]="description" />
  <div class="relative content-wrapper min-h-full flex-shrink-0 overflow-hidden lg:overflow-visible">
    <div class="flex flex-row-reverse ">
      <div class="-mt-48 hidden lg:block">
        <div class="sticky top-24 z-[901] w-64 xl:w-[272px] fm:relative fm:top-0">
          <table-of-contents [currentPage]="path" [items]="items" [show]="loaded"/>
        </div>
      </div>
      <div id="main-contents" class="min-w-0 flex-2">
        <div appMarkDown class="mdx-contents" (onLoad)="onLoad($event)"></div>
      </div>
      <div class="border-divider-light hidden border-l dark:border-divider-dark lg:block">
      </div>
    </div>
  </div>
</div>
<ng-template #errorPage>
  <page-not-found/>
</ng-template>
