<header id="page-header" class="background-grid background-grid--fade-out pt-36 pb-20 lg:pb-28 lg:pt-52">
  <div class="content-wrapper">
    <div class="relative">
      <div class="relative z-10">
        <header-title/>
      </div>
      <div class="mt-6 md:mt-8">
        <header-contact/>
      </div>
      <div class="mt-20 lg:mt-36">
        <header-tech-stack />
      </div>
      <div class="pointer-events-none absolute -top-36 right-0 z-0 hidden select-none lg:block">
        <header-image />
      </div>
    </div>
  </div>
</header>
